In [12]:
#화면에 Hello World 문자열을 출력하세요.

print('Hello world')
print()

print("Mary's cosmetics")
print()

print('신씨가 소리질렀다. "도둑이야".')
print()

print(' "C:\Windows"')

Hello world

Mary's cosmetics

신씨가 소리질렀다. "도둑이야".

 "C:\Windows"

In [13]:
#다음 코드를 실행해보고 \t 와 \n 의 역할을 설명해보세요.
print("안녕하세요.\n 만나서\t\t 반갑습니다.")
#  \t >>tab 들여쓰기
#  \n >> 줄바꿈


# ,>>띄어쓰기
print ("오늘은", "일요일")

안녕하세요.
 만나서		 반갑습니다.
오늘은 일요일

In [18]:
print('naver/kakao/sk/samsung')
print()
print("first");print("second")
print()

#5/3 의 결과를 화면에 출력하세요
print(5/3)
print()
#삼성전자라는 변수로 50,000 원을 바인딩해보세요. 
#삼성전자 주식 10 주를 보유하고 있을 때
#총 평가금액을 출력하세요.

삼성전자=50000
print(삼성전자*10)

naver/kakao/sk/samsung

first
second

1.6666666666666667

500000

In [22]:
시가총액 = "298조"
현재가= "50,000원"
PER="15.79"
print(시가총액)
print(현재가)
print(PER)

298조
50,000원
15.79

In [25]:
s = "hello"
t = "python"

print(f'{s}! {t}')

hello! python

In [27]:
 print(2 + 2 * 3)

8

In [35]:
num_str = "720"
a=int(num_str)
print()
print(type(a))

<class 'int'>

In [42]:
#정수 100 을 문자열 '100'으로 변환해보세요
a=int(100)
print(type(a))

print(type(str(a)))

<class 'int'>
<class 'str'>

In [46]:
#year 라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 
#이를 정수로 변환한 후 최근3 년의 연도를 화면에 출력해보세요.

year="2022"
print(f'{int(year)-2},{int(year)-1},{int(year)}')

2020,2021,2022

In [51]:
#에이컨이 월 48,584 원에 무이자 36 개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 
#총금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

air=48584
print(air*36)

1749024

In [58]:
#homework2

#2016 년 11 월 영화 예매 순위 기준 top3 는 다음과 같습니다. 
#영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

movie_rank=["닥터 스트레인지", "스플릿","럭키"]

movie_rank.append("배트맨")

print(movie_rank)

movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

del movie_rank[2]
del movie_rank[-1]

print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
['닥터 스트레인지', '슈퍼맨', '럭키']

In [61]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs=lang1+lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [69]:
nums = [1, 2, 3, 4, 5, 6, 7]

print(f'max : {max(nums)}')
print(f'min : {min(nums)}')
print()
nums = [1, 2, 3, 4, 5]
print(f'sum : {sum(nums)}')

max : 7
min : 1

sum : 15

In [76]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", 
"쫄면", "쏘세지", "라면", "팥빙수", "김치전"]

print(len(cook))

arr="123"
print(len(arr))

12
3

In [89]:
import numpy
nums = [1, 2, 3, 4, 5]

avg=sum(nums)/len(nums)
print(avg)

print(numpy.mean(nums))

3.0
3.0

In [94]:
a=input('문자를 입력하세요>>')

if a.islower() :
    print(a.upper())
else:
    print(a.lower())

문자를 입력하세요>>A
a

In [95]:
score=int(input('학점을 입력하세요 >>> '))
gr=""
if score>=81:
    gr="A"
elif score>=61:
    gr="B"
elif score>=41:
    gr="C"
elif score>=21:
    gr="D"
else:
    gr="E"

print(f'grade is {gr}')

학점을 입력하세요 >>> 51
grade is C

In [115]:
#사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 
#이를 원으로 변환하는 프로그램을 작성하라. 각 통화별 환율은 다음과 같다. 
#사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 
#금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.

cash=input('금액을 입력하시오(금액과 통화명 사이에 공백 필수)>> ')
a=int(cash[0:-2])


if cash[-2:-1]=='달러':
    change=a*1167
elif cash[-1]=='엔':
    change=a*1096
elif cash[-2:-1]=='유로':
    change=a*1268
elif cash[-2:-1]=='위안':
    change=a*171

print('%.2f'%change,' 원')
    
#print(cash[0:-2])
#print(cash[-1])

금액을 입력하시오(금액과 통화명 사이에 공백 필수)>> 1000 달러
109600.00  원